<!DOCTYPE html>
<html>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <style>
        div.logo {
            position: fixed;
            top: 5px;
            left: 20px;
        }
        div.fixedImage {

            top: 130px;
            left: 160px;
        }

        #searchID {
            border-color: #ff5a5f;
            background-color: #ff5a5f;
            color: #fff;
        }



    </style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script>
        $(document).ready(function(){



        });
    </script>

    <script src="angularjs/admin.js"></script>

</head>
<body ng-app="admin" ng-controller="bills_ab">
<img src="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png" onclick="window.location.href='/success_Admin_ab'" width="30px" height="30px">
<br />
<h2>Display Bills</h2><hr /><br />

<% if(length > 0){ %>

<div class="col-md-2">

</div>
<div class="col-md-4">
    <table class="table table-striped">
        <thead>
        <tr>
            <h3>Bills</h3>
        </tr>
        </thead>
        <tbody>

        <% for(i in bills){ %>
        <tr>
            <td><a ng-click="btn_openBill('<%- bills[i].bill_id %>')"><%- bills[i].bill_date %></a></td>
        </tr>
        <% } %>

        </tbody>
    </table>

</div>
<% }else{ %>

No Bills to display

<% } %>

</body>
</html>