<!DOCTYPE html>
<html>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<head>
    <style>
        #searchID {
            border-color: #ff5a5f;
            background-color: #ff5a5f;
            color: #fff;
        }
        .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
background-color:white;
}



.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn{
    background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
.header {
  right:10px;
  position:absolute;
  z-index: 90;
}
    </style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="angularjs/index.js"></script>

</head>
<body ng-app="index" ng-controller="changePassword_ab">


<div class="row">
  <div id="header_menu"></div>
    <script type="text/javascript" src="./js/user_header.js"></script>


    
</div>

<br>

<br>

<div class="container">
    <div class="col-md-3">

    </div>
    <div class="col-md-7 well" style="background-color: white;">
        <div class="welcome" style="margin: 10px;">
            <p style="font-size: 24px">Reset Password </p>
        </div>

        <div class="col-md-12">
            Enter the email address associated with your account, and we’ll email you a link to reset your password.
            <br><br>

            <div ng-show="required" style="color:red">All fields are required.</div>
            <div ng-show="bothsame" style="color:red">New password cannot be same as Old.</div>
            <div ng-show="oldpasswordIncorrect" style="color:red">Incorrect Old Password.</div>
            <input type="password" style="margin-bottom: 10px;" class="form-control input-lg" style="font-size:12pt; height: 35px;" id="oldpassword" name="oldpassword" placeholder="Old Password" ng-model="oldpassword">

            <div ng-show="notmatch" style="color:red">Not a Match.</div>

            <ng-form name="passwordForm">
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" style="margin-bottom: 10px;" style="font-size:12pt; height: 35px;" id="password" name="password" class="form-control input-lg" placeholder="New Password" ng-pattern="/^[A-Za-z]{1}[a-zA-Z0-9!@#$-_]{5,10}$/" ng-model="password">
                        <div ng-show="incorrectFormat" style="color:red">Enter new Password in correct format.</div>
                        <span ng-show="passwordForm.password.$error.pattern" style="color:#b3b3b3">1. Use 6 to 64 characters.<br>2. Besides letters, include at least a number or symbol.<br>3. Password is case sensitive.<br>4. Avoid using the same password for multiple sites.</span>
                        <div ng-show="enterpass" style="font-size:90%; color:#dd1e31">Please enter your password.</div>
                    </div>
                </div>
            </ng-form>

            <input type="password" style="margin-bottom: 10px;" class="form-control input-lg" style="font-size:12pt; height: 35px;" id="newpassword1" name="newpassword1" placeholder="Re-enter New Password" ng-model="newpassword1">

        </div>

        <div class="col-md-12" style="margin: 0px;">
            <button type="button" id="searchID" style="height: 40px;" class="btn btn-primary btn-block" ng-click="btn_resetPassword_ab()">Reset Password</button>
        </div>


    </div>



</div>

</body>
</html>