<!DOCTYPE html>
<html>
<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <style>
        #upload-input {
            display: none;
        }

        div.logo {
            position: fixed;
            top: 5px;
            left: 20px;
        }

        #searchID {
            border-color: #ff5a5f;
            background-color: #ff5a5f;
            color: #fff;
        }

    </style>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="angularjs/index.js"></script>

</head>
<body ng-app="index" ng-controller="ratings_ab">

<div class="row">
    <div class="logo">
        <img src="https://a1.muscache.com/airbnb/static/icons/android-icon-192x192-c0465f9f0380893768972a31a614b670.png" width="30px" height="30px">
    </div>

</div>

<br>
<div class="container">
    <div class="col-md-8 well" style="background-color: white;">
        <div class="welcome" style="margin: 10px;">
            <p style="font-size: 24px"><span class="glyphicon glyphicon-ok-sign" style="color:#009900; font-size: 40px"></span>
            Your Feedback was recorded !! Thank You !!
        </div>

        <div class="uname" style="margin: 10px; font-size: 12px">
            (click on upload files button to upload images)

            <div class="row" style="margin: 10px;">
                <button id="upload-btn" class="btn btn-lg upload-btn" type="button" width="150px" height="70px">Add files from your<br> computer</button>

                <form action="/property_upload" method="POST" enctype="multipart/form-data">
                    <input id="upload-input" type="file" name="file" multiple />
                    <br>
                    <input type="submit" value="Upload Files" name="submit" multiple />
                </form>

                <div class="row">
                </div>
                <br>
            </div>
        </div>

        <div class="col-md-12" style="margin: 0px;">
            <button type="button" style="height: 35px;" id="searchID" class="btn btn-primary btn-block" onclick="window.location.href='/homepage'">Continue</button>
        </div>
    </div>
</div>


<script>

    $(document).ready(function(){
        $('#upload-btn').on('click', function (){
            $('#upload-input').click();
        });

        $('#upload-input').on('change', function(){

            var files = $(this).get(0).files;

            if (files.length > 0){
                var formData = new FormData();

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    formData.append('uploads[]', file, file.name);
                }
            }
        });
    });


</script>

</body>
</html>