<!DOCTYPE html>
<html lang="en">
<head>
  <title>Become a Host and Rent Out Your Room, House or Apartment on Airbnb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
.button3{
background:#ff5a5f;
height:46px;
width:550px;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 15px;
 margin: 4px 2px;
 cursor: pointer;
}

#login{
outline:  1px solid #ff5a5f;
float:right;
}
input[type="email"] {
    height:46px;
width:550px;
outline:  1px solid #aaaaaa;
}
input[type="password"] {
    height:46px;
width:550px;
outline:  1px solid #aaaaaa;
}
input[type="submit"] {
  background:#ff5a5f;
  padding: 10px;
float:right;
  display: block;
  width: 140px;
  border: none;
  color: #fff;
  border-radius: 5px;
}
input[type="text"] {
 width:200px;
 height:20px;
}

.heading{
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    line-height: 1.43;
    color: #484848;
    margin: 0 auto;
}
.photo{
  padding-left: 2cm;
    }
#ex1{
  background:#00a699;
}
.head{

  background:#FFFFFF;
}
.main{
  padding-left: 3cm;
}

.panel-default {
  height: 290px; 
  width:320px;
  padding-right:2cm;
}

</style>

</head>
<body style="                        height: 100%;
    background: linear-gradient(90deg, #FFFFFF 55%, #FAFAFA 45%);">
<div class="container-fluid" >
  <div class="head">
  <a href="/host_home">
<img src="air1.png" width="120" height="65"> 
</a> &nbsp &nbsp Step 3: Get ready for guests<br /> 
<hr /></div>
 <br /> 
<div class="total" > 
 <div id="left" style="float:left; width:60%;">
<div class="col-md-8 col-md-offset-1">
<div class="main">
<br /> <br />
    <div style="
    font-size: 22px;
    line-height: 1.43;
    color: #484848;">Set house rules for your guests</div> <br /> <br /> 
  <form method="POST" action="/hoststep3_rules">
    <div class="amen">
Suitable for children (2-12 years)&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

<input type="radio" name="children" value="yes">&nbsp Yes <input type="radio" name="children" value="no">&nbsp No<br /><br />

Suitable for infants (Under 2 years)&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
<input type="radio" name="infants" value="yes">&nbsp Yes <input type="radio" name="infants" value="no">&nbsp No<br /><br />

Suitable for pets &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<input type="radio" name="pets" value="yes">&nbsp Yes <input type="radio" name="pets" value="no">&nbsp No<br /><br />

Smoking allowed &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
<input type="radio" name="smoking" value="yes">&nbsp Yes <input type="radio" name="smoking" value="no">&nbsp No<br /><br />

Events or parties allowed &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <input type="radio" name="events" value="yes">&nbsp Yes <input type="radio" name="events" value="no">&nbsp No<br /><br />


</div>
    

     <br />  <br />  <br /> <br /> <br />

  
     
 <br /> <hr /> <br />
 <a href="/step3" style="color:#989898;"><i class="fa fa-arrow-left"></i>&nbsp Back</a>
 <input type="submit" value="Next"></form>
   
 </div> 

</div>
</div>

<div id="right" style="float:right; width:40%;">
  <div class="panel panel-default">
    <div class="panel-body">
      <br />
      <img src="bulb.png" width="40" height="40"> <br /> 
<br />
<span style="color:#7a7a7a;">In addition to Airbnb’s requirements, guests must agree to your House Rules before they book.<br /><br />

If guests who book instantly break your rules, you can cancel penalty-free before or during the trip.</span>

</div>
  </div>




</div>
  

</div>
</div>

</body>
</html>

