<!DOCTYPE html>
<html lang="en">
<head>
  <title>Become a Host and Rent Out Your Room, House or Apartment on Airbnb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
.button3{
background:#ff5a5f;
height:46px;
width:550px;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 15px;
 margin: 4px 2px;
 cursor: pointer;
}

#login{
outline:  1px solid #ff5a5f;
float:right;
}
input[type="email"] {
    height:46px;
width:550px;
outline:  1px solid #aaaaaa;
}
input[type="password"] {
    height:46px;
width:550px;
outline:  1px solid #aaaaaa;
}
input[type="submit"] {
  background:#00a699;
  padding: 10px;

  display: block;
  width: 100px;
  border: none;
  color: #fff;
  border-radius: 5px;
}
input[type="text"] {
 width:370px;
 height:40px;
}
.main{
 
}
.heading{
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
    line-height: 1.43;
   color:#8f8f8f;
    margin: 0 auto;
        -webkit-font-smoothing: antialiased;
}
.photo{
  margin-left: 170px;
    }
.left{
  max-width: 50%;
}

</style>

</head>
<body>
<div class="container-fluid">
  <a href="/host_home">
<img src="airbnb.png" width="30" height="30">
</a>
<hr /> <br /> <br />
<div class="left">
<div class="col-md-8 col-md-offset-1">
<div class="main">
  <div class="heading">
    Become an Airbnb host <br /> <br />
  </div>
  Beds, bathrooms, amenities, and more &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<img src="tick.png" width="45" height="45"> <br />
  <br /> <hr />
 
    
    <span style="
    font-size: 22px;
    line-height: 1.43;
    color: #484848;-webkit-font-smoothing: antialiased;">Set the scene</span> <br />
    <span style="-webkit-font-smoothing: antialiased;">Photos, short description, title</span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<img src="tick.png" width="45" height="45">  <br />
   <a href="/step2_photos" style="color:#00a699;">Change</a> 


     <br />
    <hr /><br /> 
     <form method="GET" action="/step3_rules">
    <span style="color:#bebebe;-webkit-font-smoothing: antialiased;">STEP 3</span> <br />
   <span style="color:#484848;font-size:20px;-webkit-font-smoothing: antialiased;"> Get ready for guests<br /></span>
    <span style="color:#484848;-webkit-font-smoothing: antialiased;">Booking settings, calendar, price<br /><br />
    </span>
     <input type="submit" value="Continue"></form>
    <hr />
</div>

</div>
</div>

<div class="photo">
<img src="hand.png" style="float:right; width:550px; height:600px;">
</div>
  

</div> 


</body>
</html>

